/*leftA*/
.p_left .lefta { background:url(../images/df/left_bg1.jpg) repeat-x; padding-left:0; font-weight:normal; text-align:center;}
.aleft_1 { width:216px; height:auto; margin:0 auto; padding:15px 0 0;}
.aleft_1L { border:1px solid #bebcbc; width:80px; height:86px;}
.aleft_1L img { border:1px solid #fff;}
.leftbg { background-color:#f2f5fa; width:100%; height:auto; border-bottom:1px solid #d4dce9;}
.aleft_1R { width:122px;}
.alefttab td { line-height:23px;}
.alefttab td.alefttd1 { color:#e20303;}
.aleftbtn { width:178px; margin:0px auto; padding:20px 0;} 
.aleftbtn .zhxg { background:url(../images/df/aleft_btn.png) 0 0 no-repeat; width:79px; height:24px; border:none; cursor:pointer; margin-right:17px;}
.aleftbtn .zlbj { background:url(../images/df/aleft_btn.png) 0 -24px no-repeat; width:79px; height:24px; border:none; cursor:pointer;}

.leftbg2{ background-color:#f2f5fa; width:100%; height:auto; border-top:1px solid #fff;border-bottom:1px solid #d4dce9; overflow:hidden;}
.aleft_2 h2 { color:red;  text-align:center; font-size:14px; font-weight:bold;  line-height:40px;}
.aleft_2 p { text-indent:24px; font-size:13px; line-height:30px; padding:0 10px;}
.aleft_2 p.aleftp1 { text-align:right; color:#a2a2a2; padding-right:20px; line-height:20px; padding-top:20px;}
.aleft_2 p.aleftp2 { text-align:right; color:#a2a2a2;}

.leftbg3{ background-color:#f2f5fa; width:100%; height:290px; border-top:1px solid #fff;border-bottom:1px solid #d4dce9; overflow:hidden;}
.leftbg3 p { color:#a2a2a2; line-height:40px; text-indent:2em;}
.leftbg3 a { text-decoration:underline; color:#9a160a; padding-left:20px;}

/*left E*/
.Eleft { width:100%; background:#f2f5fa;}
.Eleft ul { padding:20px 0;}
.Eleft ul li{ line-height:36px; width:100%;}
.Eleft ul li span { background:url(../images/df/eicon.png); width:14px; height:16px; display:block; float:left; margin:10px 8px 0 20px;}
.Eleft ul li a { font-size:13px; color:#8a8a8a;}
.Eleft ul li a:hover { text-decoration:underline;}
/*left E-1*/
.Eleft ul li a.on { text-decoration:underline; color:#5476be;}
/*left H*/
.hleft { width:100%; height:auto}
.hleft  ul li { background:url(../images/df/hslide-bg.jpg) 0 -34px; width:100%; height:34px; line-height:34px; margin:6px 0 12px 0;}
.hleft  ul li.on { background:url(../images/df/hslide-bg.jpg); width:100%; height:34px; line-height:34px;}
.hleft  ul li  a { font-size:14px; font-weight:bold;}
.hleft  ul li.on a { color:#fff;}
.hleft  ul li span { display:block; float:left; margin:9px 9px 0 50px; background:url(../images/df/hicon.png);}
.hleft  ul li span.hleft_1 { background-position: 0 0; width:11px; height:11px;}
.hleft  ul li span.hleft_2 { background-position: 0 -17px; width:15px; height:15px;}
.hleft  ul li span.hleft_3 { background-position: 0 -36px; width:16px; height:14px;}
.hleft  ul li span.hleft_4 { background-position: 0 -54px; width:15px; height:15px;}
.hleft  ul li span.hleft_5 { background-position: 0 -76px; width:15px; height:14px;}